<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Sign Up</span>
        <form class="col s12">
          <div class="row">
            <div class="input-field">
              <i class="material-icons prefix">person_outline</i>
              <input class="validate" type="text" id="name-signup"/>
              <label for="name">Username</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field">
              <i class="material-icons prefix">mail_outline</i>
              <label for="email">Email</label>
              <input class="validate" type="email" id="email-signup"/>
            </div>
          </div>
          <div class="row">
            <div class="input-field">
                <i class="material-icons prefix">security</i>
              <label for="password">Password:</label>
              <input class="validate" type="password" id="password-signup"/>
            </div>
          </div>
        </form>
        <button class="btn" type="submit" id="signup">Sign Up</button>
        <a class="right" href="../login">Already have an account? Click here to Login!</a>
      </div>
    </div>
  </div>
</div>

<script src="./js/signup.js"></script>